.layout {
    height: 12vh;
    background-color:rgba(139, 139, 139, 0.116);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.layout__up-navbar {
    display: flex;
    padding: 10px 60px 0 0;
    justify-content: space-between;
}

.layout__create-room {
    margin-left: 30px;
}

.layout__display-name {
    margin-left: 600px;
}