.chat {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 10px 10px 10px;
    width: 45%;
    height: 78vh;
    border: 1px solid rgba(139, 139, 139, 0.315);;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 2%;
    overflow-y: auto;
    vertical-align: top;
}

h4 {
    margin: 0 auto;
}

.chat__messages {
    width: 100%;
    height: 82%;
    overflow-y: auto;
}

#chat__input {
    align-self: flex-start;
    width: 70%;
    height: 8%;
    margin: 5px 10px;
    resize: none;
}
.chat__btn {
    font-size: 1rem;
    width: 20%;
    height: 8%;
    margin: 5px;
}

.chat__messages::-webkit-scrollbar-thumb {
  background-color: #595b5c77;
}

.chat__messages::-webkit-scrollbar {
width: 10px;
background-color: #f9f9fd;
}

.chat__messages::-webkit-scrollbar-track {
-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
background-color: #f9f9fd;
}



#chat__input::-webkit-scrollbar-thumb {
    background-color: #595b5c77;
  }
  
#chat__input::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}
  
#chat__input::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}