.container {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    height: 100%;
}
.form {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 0 20px 0;
}
p {
    color: #d41a1a;
    font-size: 18px;
}
.form input {
    margin-bottom: 15px;
    width: 250px;
}
.form label {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.form button {
    width: 250px;
}
.form__social-networks-auth {
    margin-top: 35px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}
.form__social-networks-auth div {
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
}
.form__social-networks-auth div:hover {
    transform: scale(1.2);
    color: rgba(0, 0, 0, 0.637);
}
.form__additional-links {
    margin-top: 25px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.form__additional-links a {
    text-decoration: none;
}