@font-face {
  font-family: 'icons';
  src:  url('../../../icons-font/icons.eot?d1d6r');
  src:  url('../../../icons-font/icons.eot?d1d6r#iefix') format('embedded-opentype'),
    url('../../../icons-font/icons.ttf?d1d6r') format('truetype'),
    url('../../../icons-font/icons.woff?d1d6r') format('woff'),
    url('../../../icons-font/icons.svg?d1d6r#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\e900";
}
.icon-vk:before {
  content: "\e901";
}
