.modal-form {
    margin: 0 auto;
}

.error {
    margin: 15px auto;
}
.name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 15em;
    height: fit-content;
    overflow-wrap: break-word;
}